<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<title>Utilisateurs</title>
 <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>
<body>
<h3>test</h3>
<table border class="table">
<thread>
<tr>
<th>ID<th/> <th>nom<th/> <th>prenom<th/> <th>matricule<th/> <th>adresse<th/> <th>mail<th/> <th>telephone<th/> <th>service<th/> <th>fonction<th/> <th>mot de passe<th/>
<tr/>
<thead/>
<tbody>
<tr th:each="p:${listProduits}">
<td th:text="${p.id"}><td/>
<td th:text="${p.nom"}><td/>
<td th:text="${p.prenom"}><td/>
<td th:text="${p.matricule"}><td/>
<td th:text="${p.adresse"}><td/>
<td th:text="${p.mail"}><td/>
<td th:text="${p.telephone"}><td/>
<td th:text="${p.service"}><td/>
<td th:text="${p.fonction"}><td/>
<td th:text="${p.mot de passe"}><td/>

<tr/>
<tbody/>
</body>
</html>